.project-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    row-gap: 2.5rem;
    column-gap: 5rem;
    
}
.third-grid{
    margin-top: -50%;
}
.project-header-title{
    font-size: var(--font-size-regular);
}
.project-grid{
    cursor: pointer;
}

.project-link {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.project-link .arrow {
    transition: transform 0.3s ease;
}

.project-link:hover .arrow {
    transform: translateX(3px);
}

@media (max-width:430px) {
    .project-container{
        display: flex;
        flex-direction: column;
        column-gap: 20px;
    }
    .third-grid{
        margin-top: 0;
    }
}