.navbar-container{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-white);
    border-bottom: 0.5px solid rgb(30, 32, 41);
}

.navbar-links{
    
}